.page {
    margin: 0 0 0 !important;
}

.wp-block-quote {
    font-style: italic;
}

.wp-block-quote.is-style-fancy-quote {
    color: purple;
}

.entry-title {
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
}

.entry-meta {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.entry-content h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.entry-content h4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.entry-content h5 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.entry-content p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-code {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.entry-content ul{
    list-style-type: circle;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-preformatted {
    width: 80%;
    margin: auto;
    font-weight: bold;
}

.wp-block-pullquote:not(.is-style-solid-color),
blockquote, blockquote p{
    color: #551A8B !important;
    font-style: italic;
}

.wp-block-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wp-block-verse{
    width: 80%;
    margin: auto;
    font-weight: bold;
}

.wp-block-image {
    display: flex;
    justify-content: center;
}

.wp-block-media-text__media img, .wp-block-media-text__media video {
    /* width: 80% !important;
    margin-left: auto;
    margin-right: auto; */
}

.wp-block-gallery.blocks-gallery-grid {
    /* not sure about this yet I am planing to have it the same way*/
}

.wp-block-audio {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    font-weight: bold;
    border: 2px solid #000;
}

.wp-block-cover-image.has-background-dim:not([class*=-background-color]), .wp-block-cover.has-background-dim:not([class*=-background-color]){
    width: 100%;
    border: 2px solid #000;
}

.wp-block-cover-image .wp-block-subhead:not(.has-text-color), 
.wp-block-cover-image h1:not(.has-text-color), 
.wp-block-cover-image h2:not(.has-text-color), 
.wp-block-cover-image h3:not(.has-text-color), 
.wp-block-cover-image h4:not(.has-text-color), 
.wp-block-cover-image h5:not(.has-text-color), 
.wp-block-cover-image h6:not(.has-text-color), 
.wp-block-cover-image p:not(.has-text-color), 
.wp-block-cover .wp-block-subhead:not(.has-text-color), 
.wp-block-cover h1:not(.has-text-color), 
.wp-block-cover h2:not(.has-text-color), 
.wp-block-cover h3:not(.has-text-color), 
.wp-block-cover h4:not(.has-text-color), 
.wp-block-cover h5:not(.has-text-color), 
.wp-block-cover h6:not(.has-text-color), 
.wp-block-cover p:not(.has-text-color){
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    color: #000;
}

.wp-block-file .wp-block-file__content-wrapper, .wp-block-file{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-buttons .wp-block-button .wp-block-button__link, 
.wp-block-buttons.is-style-fill .wp-block-button .wp-block-button__link {
    background-color: black;
    border-radius: 0;
}

.wp-block-buttons {
    margin-left: auto !important;
    margin-right: auto !important;
}

.wp-block-media-text {
    width: 80%;
    margin: auto;
    font-weight: bold;
    background-color: lightgray;
}

.wp-block-embed__wrapper {
    display: flex;
    justify-content: center;
}

.wp-block-calendar {
    width: 80%;
    margin: auto;
}

.components-placeholder {
    width: 80%;
    margin: auto;
}

.wp-block-separator.is-style-wide {
    max-width: 80%;
}

/* about us details here */

.post-32 .has-text-align-center {
    margin-top: 30px;
}

/* form detailes here */

.post-164 .has-text-align-center {
    background-color: #473082;
    margin-bottom: 0!important;
    padding-top: 20px!important;
    padding-bottom: 8px!important;
    color: #fff !important;
}

.post-164 p {
    background-color: #473082;
    margin-bottom: 0!important;
    padding-bottom: 8px!important;
    width: 100%!important;
    color: #fff !important;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 0 !important;
}

div.wpforms-container-full {
    margin: 0 0 0 !important;
}

div.wpforms-container-full, div.wpforms-container-full .wpforms-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.wpforms-container-full, div.wpforms-container-full .wpforms-form {
    width: 100%;
    background: linear-gradient(0deg, #473082, #408aa0, #473082);
    padding: 2rem;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form select.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100% !important;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium{
    max-width: 100%;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
    color: #fff !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
    color: #fff !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label-inline {
    color: #fff !important;
}

div.wpforms-container-full .wpforms-form input[type=submit], 
div.wpforms-container-full .wpforms-form button[type=submit], 
div.wpforms-container-full .wpforms-form .wpforms-page-button{
    width: 375px !important;
    color: #fff !important;
    background-color: #0389ce !important;
    box-shadow: 1px 1px 3px #808080;
    border: 3px solid transparent !important;
    transition: all .5s;
}

div.wpforms-container-full:hover .wpforms-form:hover input[type=submit]:hover, 
div.wpforms-container-full:hover .wpforms-form:hover button[type=submit]:hover, 
div.wpforms-container-full:hover .wpforms-form:hover .wpforms-page-button:hover {
    width: 375px !important;
    color: #0389ce !important;
    background-color: #fff !important;
    box-shadow: 1px 1px 3px #808080;
    border: 3px solid #0389ce  !important;
    transition: all .5s;
}



/* information after all pages */

.entry-footer {
    max-width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    border-top: 1px solid lightgray;
    /* border-bottom: 1px solid lightgray; */
}

.comments-area, .widget-area {
    max-width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}



/* single product related styling */

.woocommerce .single-product {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.woocommerce .single-product .price {
    width: 100% !important;
    color: darkgreen !important;
    font-weight: bold;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
    padding-right: 10px;
}

.product-type-simple .entry-header h1 {
    display: none;
}

.entry-summary h1 {
    font-size: 2.5rem;
}

.woocommerce div.product .woocommerce-tabs .panel h2 {
    display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    width: 100%;
    margin-top: 30px;
}

.entry-summary .quantity {
    margin-top: 2px !important;
}

.entry-summary button {
    border: 3px solid #000 !important;
    border-radius: 5px !important;
    background-color: #fff !important;
    color: #000 !important;
    transition: all 0.5;
}

.entry-summary button:hover {
    border: 3px solid #000 !important;
    border-radius: 5px !important;
    background-color: #000 !important;
    color: #fff !important;
    transition: all 0.5;
}

.comment-navigation .nav-links, 
.posts-navigation .nav-links, 
.post-navigation .nav-links {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.nav-subtitle {
    color: #000 !important;
    text-decoration: underline !important;
}

.nav-title {
    color: #000 !important;
}

/* woocommerce shop page styling */

.woocommerce .columns-3{
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.post-76 .add_to_cart_button {
    border: 3px solid #000 !important;
    border-radius: 5px !important;
    background-color: #fff !important;
    color: #000 !important;
    transition: all 0.5;
}

.post-76 .add_to_cart_button:hover {
    border: 3px solid #000 !important;
    border-radius: 5px !important;
    background-color: #000 !important;
    color: #fff !important;
    transition: all 0.5;
}



/* woocommerce cart page styling */

#post-77.post-77.page.type-page.status-publish.hentry{
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 100px !important;
}

#post-77.post-77.page.type-page.status-publish.hentry footer{
    max-width: 100% !important;
}

#post-77.post-77.page.type-page.status-publish.hentry h3{
    margin-left: 0;
    margin-bottom: 50px;
}

.woocommerce-cart-form {
    border-top: 3px solid #000;
}

.woocommerce-cart-form__cart-item .cart-item {
        border-bottom: 3px solid #000 !important;
}

.woocommerce table.shop_table {
    border: 1px solid transparent !important;
}

.woocommerce table.shop_table thead{
    background-color: transparent !important;
    border: 1px solid transparent !important;
}

.woocommerce table.shop_table td {
    border-top: 1px solid transparent !important;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 30% !important;
}


.woocommerce-cart table.cart .product-thumbnail {
    text-align: center;
}


tbody tr:nth-child(even) {
    background-color: transparent !important;
}

.woocommerce-page table.cart td.actions {
    margin-top: 15px !important;
    border-top: 3px solid #000 !important;
}

.woocommerce-page table.cart td.actions .coupon {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

.woocommerce-page table.cart td.actions .coupon button {
    background-color: transparent !important;
}

td.product-name a {
    color: #111111;
    text-decoration: none;
    font-weight: bolder;
}

.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
    width: auto !important;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 30% !important;
    text-align: right;
}

.woocommerce-cart .cart-collaterals .cart_totals tr th {
    border: transparent !important;
}

.cart_totals h2 {
    font-size: 24px !important;
    margin-top: 50px;
}

.wc-proceed-to-checkout {
    border: 3px solid #000;
    border-radius: 5px !important;
    padding: 0 !important;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#add_payment_method .cart-collaterals .cart_totals table, .woocommerce-cart .cart-collaterals .cart_totals table, 
.woocommerce-checkout .cart-collaterals .cart_totals table {
    border-top: 3px solid #000 !important;
    border-bottom: 3px solid #000 !important;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    margin-bottom: 0 !important;
    padding: 5px 10px !important;
    background-color: transparent !important;
    color: #000 !important;
    transition: all .5s;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    background-color: #000 !important;
    color: #fff !important;
    transition: all .5s;
}

.woocommerce .woocommerce-form-coupon-toggle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.woocommerce-billing-fields h3{
    text-align: center;
}

.checkout h3 {
    text-align: center;
}

.woocommerce-shipping-fields h3 {
    text-align: left;
}

.woocommerce .checkout {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2 {
    width: 100% !important;
    float: none !important;
}

#billing_first_name_field {
    width: 50% !important;
    display: inline-block !important;
}

#billing_last_name_field {
    width: 50% !important;
    display: inline-block !important;
}

.woocommerce form .form-row {
    width: 100% !important;
}

#payment .button {
    border: 3px solid #000;
    border-radius: 5px !important;
    background-color: #fff !important;
    color: #000 !important;
    transition: all 0.5;
}


#payment .button:hover {
    border: 3px solid #000;
    border-radius: 5px !important;
    background-color: #000 !important;
    color: #fff !important;
    transition: all 0.5;
}

/* login page */

.post-79 {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.post-79 h2 {
    margin-top: 30px;
}

.post-79 p {
    width: 100% !important;
}

.post-79 .lost_password a {
    color: #aaa !important;
    transition: all .5s;
}

.post-79 .lost_password a:hover {
    color: #000 !important;
    transition: all .5s;
}

.post-79 .entry-content .woocommerce {
    margin-top: 30px;
}

.post-79 .woocommerce .woocommerce-form-login 
.woocommerce-form-login__submit {
    border: 3px solid #000;
    border-radius: 5px !important;
    background-color: #fff !important;
    color: #000 !important;
    transition: all 0.5;
}

.post-79 .woocommerce .woocommerce-form-login 
.woocommerce-form-login__submit:hover {
    border: 3px solid #000;
    border-radius: 5px !important;
    background-color: #000 !important;
    color: #fff !important;
    transition: all 0.5;
}

.post-79 .entry-footer{
    max-width: 100% !important;
}


/* single post related styling */

.post-135 h1{
    margin-top: 30px !important;
}

.post-248 h4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.post-271 .wp-block-table {
    width: 60% !important;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}