.page {
    margin: 0 0 0 !important;
}

.wp-block-quote {
    font-style: italic;
}

.wp-block-quote.is-style-fancy-quote {
    color: purple;
}

.entry-title {
    text-align: center;
}

.entry-meta {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.entry-content h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.entry-content h5 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.entry-content p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-code {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.entry-content ul{
    list-style-type: circle;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-preformatted {
    width: 80%;
    margin: auto;
    font-weight: bold;
}

.wp-block-pullquote:not(.is-style-solid-color),
blockquote, blockquote p{
    color: #551A8B !important;
    font-style: italic;
}

.wp-block-table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wp-block-verse{
    width: 80%;
    margin: auto;
    font-weight: bold;
}

.wp-block-image {
    display: flex;
    justify-content: center;
}

.wp-block-media-text__media img, .wp-block-media-text__media video {
    /* width: 80% !important;
    margin-left: auto;
    margin-right: auto; */
}

.wp-block-gallery.blocks-gallery-grid {
    /* not sure about this yet I am planing to have it the same way*/
}

.wp-block-audio {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    font-weight: bold;
    border: 2px solid #000;
}

.wp-block-cover-image.has-background-dim:not([class*=-background-color]), .wp-block-cover.has-background-dim:not([class*=-background-color]){
    width: 100%;
    border: 2px solid #000;
}

.wp-block-cover-image .wp-block-subhead:not(.has-text-color), 
.wp-block-cover-image h1:not(.has-text-color), 
.wp-block-cover-image h2:not(.has-text-color), 
.wp-block-cover-image h3:not(.has-text-color), 
.wp-block-cover-image h4:not(.has-text-color), 
.wp-block-cover-image h5:not(.has-text-color), 
.wp-block-cover-image h6:not(.has-text-color), 
.wp-block-cover-image p:not(.has-text-color), 
.wp-block-cover .wp-block-subhead:not(.has-text-color), 
.wp-block-cover h1:not(.has-text-color), 
.wp-block-cover h2:not(.has-text-color), 
.wp-block-cover h3:not(.has-text-color), 
.wp-block-cover h4:not(.has-text-color), 
.wp-block-cover h5:not(.has-text-color), 
.wp-block-cover h6:not(.has-text-color), 
.wp-block-cover p:not(.has-text-color){
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    color: #000;
}

.wp-block-file .wp-block-file__content-wrapper, .wp-block-file{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-buttons .wp-block-button .wp-block-button__link, 
.wp-block-buttons.is-style-fill .wp-block-button .wp-block-button__link {
    background-color: black;
    border-radius: 0;
}

.wp-block-buttons {
    margin-left: auto !important;
    margin-right: auto !important;
}

.wp-block-media-text {
    width: 80%;
    margin: auto;
    font-weight: bold;
    background-color: lightgray;
}

.wp-block-embed__wrapper {
    display: flex;
    justify-content: center;
}

.wp-block-calendar {
    width: 80%;
    margin: auto;
}

.components-placeholder {
    width: 80%;
    margin: auto;
}

/* about us details here */

.post-32 .has-text-align-center {
    margin-top: 30px;
}

/* form detailes here */

.post-164 .has-text-align-center {
    background-color: #473082;
    margin-bottom: 0!important;
    padding-top: 20px!important;
    padding-bottom: 8px!important;
    color: #fff !important;
}

.post-164 p {
    background-color: #473082;
    margin-bottom: 0!important;
    padding-bottom: 8px!important;
    width: 100%!important;
    color: #fff !important;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 0 0 !important;
}

div.wpforms-container-full {
    margin: 0 0 0 !important;
}

div.wpforms-container-full, div.wpforms-container-full .wpforms-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.wpforms-container-full, div.wpforms-container-full .wpforms-form {
    width: 100%;
    background: linear-gradient(0deg, #408aa0, #473082);
    padding: 2rem;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form select.wpforms-field-medium, 
div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100% !important;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium{
    max-width: 100%;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
    color: #fff !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
    color: #fff !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label-inline {
    color: #fff !important;
}

div.wpforms-container-full .wpforms-form input[type=submit], 
div.wpforms-container-full .wpforms-form button[type=submit], 
div.wpforms-container-full .wpforms-form .wpforms-page-button{
    width: 375px !important;
    color: #fff !important;
    background-color: #0389ce !important;
    box-shadow: 1px 1px 3px #808080;
    border: 3px solid transparent !important;
    transition: all .5s;
}

div.wpforms-container-full:hover .wpforms-form:hover input[type=submit]:hover, 
div.wpforms-container-full:hover .wpforms-form:hover button[type=submit]:hover, 
div.wpforms-container-full:hover .wpforms-form:hover .wpforms-page-button:hover {
    width: 375px !important;
    color: #0389ce !important;
    background-color: #fff !important;
    box-shadow: 1px 1px 3px #808080;
    border: 3px solid #0389ce  !important;
    transition: all .5s;
}