.wp-block-quote {
    font-style: italic;
}

.wp-block-quote.is-style-fancy-quote {
    color: purple;
}

.wp-block-buttons .wp-block-button .wp-block-button__link, 
.wp-block-buttons.is-style-fill .wp-block-button .wp-block-button__link {
    background-color: black;
    border-radius: 0;
}

.entry-content h1{
    text-align: center;
}

.entry-content p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}