/* header general settings */

.site-header {
    background-color: #000 !important;
}

.site-branding {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 375px){

    .headerLogo {
        width: 80px; 
        padding: 5px;
        margin: 10px auto;
        z-index: 1000;
    }

}

@media only screen and (min-width: 1000px){
    .headerLogo {
        width: 6vw; 
        padding: 10px;
        margin: 10px auto;
        z-index: 1000;
    }
}

/* menu/links font size setting */

@media only screen and (min-width: 375px){

    .main-navigation{
        display: flex !important;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }
}

@media only screen and (min-width: 1000px){

    .main-navigation{
        display: flex !important;
        justify-content: center;
        align-items: center;
        font-size: 1.1vw;
        font-weight: bold;
    }
}

@media only screen and (min-width: 375px){
    .loggedIn a{
        display: none !important;
        line-height: 1;
        text-decoration: none;
        padding: 0.7rem 1rem;
        color: #fff !important;
    }
}


@media only screen and (min-width: 650px){
    .loggedIn a{
        display: inline !important;
        line-height: 1;
        text-decoration: none;
        padding: 0.7rem 1rem;
        color: #fff !important;
    }
}

.menu a,
.loggedIn a {
    display: inline;
    position: relative;
    overflow: hidden;
}

.menu a:after,
.loggedIn a:after {
    content: "";
    position: absolute;
    z-index: 400;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #fff;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.menu a:hover:after,
.menu a:focus:after,
.menu a:active:after,
.loggedIn a:hover:after,
.loggedIn a:focus:after,
.loggedIn a:active:after {
    left: 0;
    right: auto;
    width: 100%;
}


@media only screen and (min-width: 650px){
    #mega-menu-wrap-menu-primary .mega-menu-toggle.mega-menu-open + #mega-menu-menu-primary {
            margin-top: 20px;
            text-align: center;
    }
}

@media only screen and (min-width: 650px){
    #mega-menu-wrap-menu-primary #mega-menu-menu-primary > li.mega-menu-item > a.mega-menu-link {
        text-align: center;
    }
}

/* mobile hamburger menu setting */
.menu-mobile-menu-container #menu-mobile {
    display: none; /*hide the menu until hamburger is clicked*/
    flex-direction: column;
    list-style: none;
    align-items: stretch;
    width: 100%;
    padding: 0; /*remove default padding from <ul>*/
    text-align: center;
    position: fixed;
    top:13%;
    left: 0%;
    z-index: 10;
}

/*flex item of menu*/
.menu-mobile-menu-container #menu-mobile li{
    margin: 0;
    padding-bottom: 3px;
    background-color: #fff;
    width: 100%;
    border: 3px solid #000;
}

.menu-mobile-menu-container #menu-mobile a{
    color: #000;
    line-height: 36px;
    font-size: 16pt;
    text-decoration: none;
}

#toggle{
    display: none;  /*we don't ever want this to show*/
}

/*flex item of nav*/
.hamburger-icon{
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    font-size: 36pt;
    line-height: 30pt;  /*symbol not actually square*/
    padding: 0.25em;
    padding-right: 0;
    color: #fff;
}

.hamburger-icon span{
    cursor: pointer;
}

#toggle:checked + .menu-mobile-menu-container #menu-mobile {
    display: flex;
}


/* social panel settings */

@media only screen and (min-width: 375px){
    .social_panel {
        display: none;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .social_panel img{
        width: 60px;
    }
}

@media only screen and (min-width: 1000px){
    .social_panel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .social_panel img{
        width: 60px;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: .5s all;
    }

    .social_panel img:hover{
        width: 60px;
        border: 1px solid #fff;
        border-radius: 50%;
    }
}